:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .main-app-wrapper {
  border: 0px none;
  height: 1568px;
  width: 2147px;
}

.box .main-app {
  height: 1568px;
  left: 0;
  position: fixed;
  top: 0;
  width: 2147px;
}

.box .overlap {
  height: 1572px;
  left: -4px;
  position: relative;
  width: 2151px;
}

.box .main-app-BG {
  height: 1543px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 1928px;
}

.box .guides {
  background-color: #37383f;
  height: 494px;
  left: 4px;
  position: absolute;
  top: 1074px;
  width: 1920px;
}

.box .class-icons {
  height: 228px;
  left: 188px;
  position: relative;
  top: 133px;
  width: 1543px;
}

.box .specialist {
  height: 228px;
  left: 1326px;
  position: absolute;
  top: 0;
  width: 219px;
}

.box .overlap-group {
  height: 228px;
  position: relative;
  width: 217px;
}

.box .text-wrapper {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 34.7px;
  font-weight: 600;
  height: 43px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 185px;
}

.box .specialist-artist {
  height: 185px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 183px;
}

.box .fighter {
  height: 228px;
  left: 1061px;
  position: absolute;
  top: 0;
  width: 185px;
}

.box .img {
  height: 183px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 183px;
}

.box .div {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 34.7px;
  font-weight: 600;
  height: 43px;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 185px;
}

.box .assassin {
  height: 228px;
  left: 795px;
  position: absolute;
  top: 0;
  width: 186px;
}

.box .classicon-assassin {
  height: 183px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 183px;
}

.box .text-wrapper-2 {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 34.7px;
  font-weight: 600;
  height: 43px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 185px;
  width: 183px;
}

.box .gunner {
  height: 228px;
  left: 530px;
  position: absolute;
  top: 0;
  width: 185px;
}

.box .text-wrapper-3 {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 34.7px;
  font-weight: 600;
  height: 43px;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 185px;
}

.box .mage {
  height: 228px;
  left: 265px;
  position: absolute;
  top: 0;
  width: 185px;
}

.box .text-wrapper-4 {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 34.7px;
  font-weight: 600;
  height: 43px;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 185px;
}

.box .warrior {
  height: 228px;
  left: 0;
  position: absolute;
  top: 0;
  width: 185px;
}

.box .text-wrapper-5 {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 34.7px;
  font-weight: 600;
  height: 43px;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 185px;
}

.box .artwork-wrapper {
  height: 1074px;
  left: 1158px;
  position: absolute;
  top: 0;
  width: 993px;
}

.box .artwork {
  height: 1074px;
}

.box .overlap-group-2 {
  height: 1074px;
  position: relative;
  width: 993px;
}

.box .scooter-square {
  background-color: #fe917c;
  height: 1038px;
  left: 196px;
  position: absolute;
  top: 33px;
  width: 570px;
}

.box .scooter-square-2 {
  background-color: #d9d9d9;
  height: 685px;
  left: 40px;
  position: absolute;
  top: 389px;
  width: 726px;
}

.box .scooter {
  height: 1074px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 993px;
}

.box .overlap-wrapper {
  height: 865px;
  left: 130px;
  position: absolute;
  top: 119px;
  width: 1028px;
}

.box .overlap-2 {
  height: 865px;
  position: relative;
  width: 1030px;
}

.box .icon {
  height: 865px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1030px;
}

.box .overlap-group-3 {
  height: 865px;
  position: relative;
  width: 1028px;
}

.box .img-2 {
  height: 865px;
  left: 112px;
  position: absolute;
  top: 0;
  width: 804px;
}

.box .h-1 {
  color: #ffffff;
  font-family: "Lexend Zetta", Helvetica;
  font-size: 128px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 290px;
  width: 1028px;
}

.box .something-button {
  height: 90px;
  left: 0;
  position: absolute;
  top: 637px;
  width: 413px;
}

.box .div-wrapper {
  background-color: #d9d9d9;
  height: 90px;
  position: relative;
  width: 411px;
}

.box .text-wrapper-6 {
  color: #151518;
  font-family: "Rubik Mono One", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 90px;
  left: 0;
  letter-spacing: -2.6px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 411px;
}

.box .discord {
  height: 90px;
  left: 465px;
  position: absolute;
  top: 637px;
  width: 413px;
}

.box .discord-wrapper {
  background-color: #37383f;
  height: 90px;
  position: relative;
  width: 411px;
}

.box .discord-2 {
  color: #ffffff;
  font-family: "Rubik Mono One", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 90px;
  left: 0;
  letter-spacing: -2.6px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 411px;
}

.box .line {
  height: 1px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  top: 804px;
  width: 760px;
}

.box .div-2 {
  height: 132px;
  left: 4px;
  position: absolute;
  top: 33px;
  width: 1920px;
}

.box .overlap-3 {
  height: 114px;
  left: -274px;
  position: absolute;
  top: 9px;
  width: 1822px;
}

.box .login {
  box-shadow: 0px 4px 4px #00000040;
  height: 114px;
  left: 1609px;
  position: absolute;
  top: 0;
  width: 213px;
}

.box .overlap-group-4 {
  height: 114px;
  position: relative;
  width: 211px;
}

.box .LOG-IN {
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 36px;
  font-weight: 600;
  height: 114px;
  left: 0;
  letter-spacing: -2.34px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 211px;
}

.box .right-to-bracket {
  height: 43px;
  left: 168px;
  position: absolute;
  top: 36px;
  width: 43px;
}

.box .LOA-icon {
  height: 88px;
  left: 377px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 82px;
}

.box .navbar-content {
  height: 50px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 1671px;
}

.box .overlap-4 {
  height: 50px;
  position: relative;
  width: 1665px;
}

.box .guides-2 {
  color: #ffffff;
  font-family: "Lexend Deca", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 50px;
  left: 0;
  letter-spacing: -2.6px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 1199px;
}

.box .about-us {
  color: #ffffff;
  font-family: "Lexend Deca", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 50px;
  left: 466px;
  letter-spacing: -2.6px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 1199px;
}

.box .resources {
  color: #ffffff;
  font-family: "Lexend Deca", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 50px;
  left: 217px;
  letter-spacing: -2.6px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 1199px;
}

.box .search {
  background-color: #d9d9d9;
  border-radius: 25px;
  height: 63px;
  left: 1589px;
  position: absolute;
  top: 35px;
  width: 267px;
}

.box .magnifying-glass {
  height: 43px;
  left: 16px;
  position: absolute;
  top: 10px;
  width: 43px;
}
